
</div>
<br>
<div class="container text-secondary bg-light p-4">
    All rights reserved 2014 &copy;. For any suggestions or queries, please contact me
</div>
<script>
    setTimeout(function() {
    document.querySelector('#flash-message').style.display='none'
    }, 3000); // <-- time in milliseconds
</script>
</body>
</html>