<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Eo_circle_pink_letter-p.svg" width="50" height="50" class="d-inline-block align-top" alt="letterp">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Create Users</a>
      </li>
    </li class="nav-item">
    <% if(!currentUser){ %>
      <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/users/reset">Reset Password</a>
      </li>
      <% } else { %>
          <li class="nav-item">
              <a class="nav-link" href="">Signed In As
                  <%= currentUser.username %>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/permission">View user permission</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          <% } %>
        
          <li class="nav-item">
            <a class="nav-link" href="/">Main Menu</a>
          </li>
    </ul>
    </div>
    </nav>
    <br>
    <div class="container">
      