<%- include('../layouts/header') %>
<title>Promotions</title>
<br>
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Promotions Created</h3>
        <h5 class="text-center">1,120,120</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Offers Accepted</h3>
        <h5 class="text-center">18,222,20</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Promotions Progressed</h3>
        <h5 class="text-center">19,292,20</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Comments Posted</h3>
        <h5 class="text-center">12,232,100</h5>
      </div>
    </div>
  </div>
</div>
      
<%- include('../layouts/footer') %>