<%- include('../layouts/headerUser') %>
    <ul>
      <li><a href="/users/register">Create Users</a></li>
      <li>View User Permission</li>
      <li>Developer API's </li>
    </ul>
<%- include('../layouts/footer') %>